.react-datepicker__input-container > input {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}
.dashboardPaginationButton {
  margin-right: 0px !important;
}
.page-heading-with-datePicker {
  padding: 0px 26px !important;
}
