.message .message-table {
  justify-content: center;
  margin-top: 15px;
  background-color: white;
  /* box-shadow: 0px 0px 5px 0px rgba(196, 189, 189, 0.69); */
  /* -moz-box-shadow: 0px 0px 5px 0px rgba(196, 189, 189, 0.69); */
  /* -webkit-box-shadow: 0px 0px 5px 0px rgba(196, 189, 189, 0.69); */
}

.message tr:hover {
  cursor: pointer;
}
.message__search-input-wrapper {
  float: right;
}
.message__search-input-wrapper .message_searchBtn {
  float: right;
  background-color: #04bba0;
  border: transparent;
  color: white;
  padding: 5px 20px;
}
.message .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  /* background: #ffdeb2; */
  background: #e0e0e0;
}

.message .message-table .column-header {
  font-weight: 500;
  text-align: center;
  /* color: #626262; */
  color: black;
}

.message .message-table .ant-table-thead > th {
  background: #f6f6f6;
}

.message .ant-table-thead > tr > th {
  padding: 12px;
  border-bottom: 10px solid #f0f0f0;
}

.message .message-table .normal-text {
  font-weight: normal;
}

.message .message-table .active-point {
  width: 14px;
  height: 14px;
  box-shadow: 0 1px 7px 3px rgba(255, 158, 26, 0.3);
  background-color: #ff9e1a;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.message .ant-table-tbody > tr > td {
  border-bottom: 1px solid #e8e8e8;
  color: black;
  font-size: 12px;
}
