.dashboard {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.dashboard__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.dashboard__charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
