.ant-modal-content {
  width: 1200px;
  height: 600px;
  overflow-y: scroll;
}
.ant-modal {
  width: 1200px !important;
}
.ant-modal-content .ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin-left: 0;
}
