@media screen and (min-width: 991px) {
  .callout {
    margin: 0 2rem;
    padding: 0 14rem;
    height: 100vh;
    font-size: 36px;
    line-height: 1.75;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .callout {
    margin: 0 2rem;
    padding: 0 2rem;
    height: 100vh;
    font-size: 36px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .callout {
    margin: 0 2rem;
    padding: 5rem 0;
    font-size: 28px;
    line-height: 1.5;
  }
}

body {
  margin: 0;
}

.callout {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  color: #333333;
}

.callout--borderless {
  border: none;
}

.callout__title {
  width: 80%;
  margin: 0;
  margin-bottom: 1rem;
  align-self: end;
}

.callout__flat-action {
  color: #fec355;
  align-self: start;
}
