@media screen and (min-width: 768px) {
  .para-with-img {
    grid-template-columns: repeat(2, 1fr);
  }

  .para-with-img__img:nth-child(4n + 1) {
    grid-column: 1 / span 1;
  }

  .para-with-img__img:nth-child(4n + 3) {
    grid-column: 2 / span 1;
  }
}

.para-with-img {
  display: grid;
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 5rem auto;
  grid-auto-flow: dense;
  place-items: center center;
  gap: 24px;
}

.para-with-img__img {
  width: 100%;
}

.para-with-img__para {
  width: 80%;
  line-height: 1.75;
  font-size: 16px;
  color: #333333;
}
