.service__insight__container{
    display:grid;
   /* Have to make chnages acc to components*/
}

.insight__section-image{
    height:40rem;
    width:100vw;
}
.insight__section-image>img{
    height:40rem;
    width:100vw;
    position: absolute;
    object-fit: cover;
  }

.insight__section-text{
  width:100%;
  height:30rem;
  background-color:  #b8b894;
  margin-top:5rem;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-auto-flow: row;

}
.insight__section-text_left{
    margin-right:5rem;
}
.insight__section-text_right{
    margin-left: 5rem;
}

.insight__section-services{
    display:grid;
    grid-template-columns: 100px 2fr 2fr 100px;
    grid-auto-flow: row;
}
.insight-services-col-left{
    height:21rem;
    width:100%;
    background-color:  #b8b894;
    margin-right:3rem;
    margin-bottom: 2rem;
}
.insight-services-col-right{
    height:21rem;
    width:100%;
    background-color:  #b8b894;
    margin-left:3rem;
    margin-bottom: 2rem;
}
.insight__section-articles{
    height:40rem;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
}
.insight__section-articles-content{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    background-color:  #b8b894;
}
.insight__section-articles-blank{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
