.secondary-navbar {
  height: 2.5rem;
  width: 100%;
  padding: 0px 35px;
  border-bottom: 1px solid #e4e4e4;
  display: grid;
  grid-template-columns: 30% 50% 20%;
}

.secondary-navbar__left-nav {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
}

.secondary-navbar__right-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: right;
}

.link {
  font-weight: 500;
  transition: 300ms;
  cursor: pointer;
}

.link:hover {
  color: blueviolet;
}
